{% trans_default_domain 'toolbar' %}

{% spaceless %}
<div class="text-{{ alignment }} toolbar">
    <div class="btn-group btn-group-{{ size }}" role="group">
        {{ tools|raw }}
    </div>
</div>
{% endspaceless %}