{% trans_default_domain 'toolbar' %}

{% if alignment is not defined %}
    {% set alignment = 'center' %}
{% endif %}
{% if size is not defined %}
    {% set size = 'md' %}
{% endif %}

<div class="text-{{ alignment }} toolbar">
    <div class="btn-group btn-group-{{ size }}" role="group">
        {{ tools|raw }}
    </div>
</div>